body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     background-color: #d7f9d7; 
   }
   
   .container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     flex-direction: column;
   }
   
   .navigation {
     display: flex;
     flex-direction: column;
     align-items: center; 
     font-size: 18px; 
   }
   
   .nav-item {
     display: flex;
     align-items: center;
     margin-bottom: 10px; 
   }
   
   .nav-item dt {
     margin-right: 10px; 
     font-weight: bold;
   }
   
   .nav-item dd {
     margin: 0 5px;
     color: #555;
   }
   
   .nav-item button {
     margin-left: 10px;
     font-size: 20px; 
     padding: 12px 24px; 
   }
   .nav-item button {
     margin-left: 10px;
     font-size: 20px; /* Increase button font size */
     padding: 12px 24px; /* Increase button padding */
     background-color: #007bff; /* Button background color */
     color: #fff; /* Text color */
     border: none; /* Remove button border */
     border-radius: 5px; /* Add border radius */
     cursor: pointer; /* Add pointer cursor on hover */
     transition: background-color 0.3s ease; /* Smooth background color transition */
   }
   
   .nav-item button:hover {
     background-color: #0056b3; /* Darker background color on hover */
   }
   